<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Tests" parallel="classes">

    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener"/>
    </listeners>

    <test verbose="1" name="First test run">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>

</suite>